body{
  
margin-left: 50px;

  
}
#contenedor{
    margin-left: 20%;
    background-color: cornflowerblue;
    height: 200%;
    width: 60%;
}
.menu{
    list-style: none;
    line-height: 25px;
   padding: 0px;
}
.menu a{
    text-decoration: none  ;
    color: rgb(235, 227, 227);
    font-size: 13px;
}
#MiniContenedor{
    line-height: 1px;
}
.menu li{
    font-family: Arial, Helvetica, sans-serif;
    
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.menu li:hover{
    background:  rgba(255,255,255,.2) ;
}
#MiniContenedor img{
    margin-top: 20px;
    margin-left: 50px;
box-shadow: 3px 3px 2px rgba(32, 32, 32, 0.5);
    border-radius: 25px;
}
#ParteIzquierda h3{

text-align: center;
color: cornsilk;
font-family: Arial, Helvetica, sans-serif;
}
#ParteIzquierda h6{

    text-align: center;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    }
#ParteIzquierda{
height: 570px;
width: 200px;
background: rgb(75, 131, 235);
float: left;
padding-top: 0px;
margin-left: 25px;
}



#ParteDerecha{
    margin-left: 10px;
}
#ParteDerecha img{
    margin-left: 30px;
   

}
#ParteDerecha h4{
    margin-top: 30px;
   position: absolute;
   left: 41.5%;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
#ParteDerecha div{
    margin-top: 20px;
    position: absolute;
   left: 41.5%;
    border-bottom:solid 2px cornsilk;
    width:25%;
    height:50px;
}
#ParteDerecha p{ position: absolute;
    left: 41.5%;
    margin-top: 20px;
     top: 320px;
    color: cornsilk;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
#FotoDTextoI{
position: absolute;
left: 41.5%;

width: 505px;
top: 360px;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
}
#FotoDTextoI p{
    font-size: 13px;
}
#FotoDTextoI img{
    float: right ;
  margin-top: 20px;
  height: 210px;
}

  
       #FotoITextoD{
        position: absolute;
        left: 41.5%;
        
        top: 630px;
        width: 505px;
        color: cornsilk;
        font-family: Arial, Helvetica, sans-serif;
       }
       #FotoITextoD p{
        font-size: 13px;
        
    }
    #FotoITextoD img{
        float: left;
        height: 160px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .lin {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 40px;
        background:  rgba(255,255,255,.2) ;
        width: 100px;
        justify-content:center;
        }
        .lin a{
            text-align: center;
            text-decoration: none;
              font-size: 13px;
              
              font-family: Arial, Helvetica, sans-serif;
              color :rgb(75, 131, 235);
              
        }
        .contacto{
            
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            overflow: hidden;
            white-space: nowrap;
            justify-content: space-around;
            width: 120px;
          margin-left: 40px;
        }
    .contacto  img{
       

       margin-top:  20px;
        
       align-self: center;
    }
